<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#services').addClass("active");
    </script>
    <section class="row productsBox">
        <!-- this is where the Media lives, photo & video nd such -->
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">关于我们</a>
            </li>
        </ul>

        <div class=span12>
            <div class="span3" style="margin-left: 5px;">
                <header class="page-header">
                    <h1>
                        我们的服务
                    </h1>
                    <pre><p>    宇威 帮助企业为 企业 2.0打下基础。<br>    我们充分利用，基于软件的语音通讯，多媒体会议，桌面共享，Web门户，统一通讯等功能，改善企业通信和提升客户服务质量。</p></pre>
                </header>
                <div   style="font-size:19px; color: #07A320;">
                    <p >24小时热线：18665802636 </p>  </BR>
                    <p>QQ：30943392，75039960 </p>  </BR>
                    <p>Eemai： <a href="mailto:gotham@uwetech.com">gotham@uwetech.com</a> </p>
                    </BR>  </BR>
                </div>
                <div>
                    <a href="http://blog.sina.com.cn/u/2803229062">博客链接</a>
                </div>
            </div>
            <div class="span9" style="margin-left: 10px;">
                <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=300&skin=6&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=2803229062&verifier=39526af2&dpc=1"></iframe>
            </div>
        </div>
    </section>
{% endblock %}