<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#about').addClass("active");
    </script>
    <section class="row productsBox">
        <!-- this is where the Media lives, photo & video nd such -->
        <ul class="breadcrumb">
            <li>
                <a href="/">首页</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="#">关于我们</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">企业介绍</a>
            </li>
        </ul>

        <div class=span12>
            <div class="typo typo-selection">
                            <h1>企业介绍</h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;
                成都宇威软件技术有限公司，简称“宇威”，致力于提供企业通信综合解决方案，专注于企业统一通信及联络中心、高增值技术服务支持和独立软件开发等领域。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;
宇威是Avaya、H3C等国际知名通信设备制造商的优秀合作伙伴，拥有数十位具备多年通信行业经验的资深技术专家和管理团队。宇威与全球合作伙伴一起，努力为客户提供优质的产品、技术服务以及本地化支持，为客户创造无限的价值成长空间是我们最大的幸福。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;
宇威植根中国、面向全球，总部位于中国成都，在上海、深圳设有分公司，同时在美国新泽西设立海外分公司。客户支持中心和备件库，并在北京、广州、西安、大连、济南、福州等地拥有技术支持分支机构。

<p>   &nbsp;&nbsp;&nbsp;&nbsp;
                公司依托西南地区高校的科研实力和人才基础，与电子科大，西南石油大学建立长期的战略合作关系，公司是重庆邮电学院软件培训基地。</p>
</p>
 <p>      &nbsp;&nbsp;&nbsp;&nbsp;
         21世纪是信息的时代，宇威人愿与您一起引领时代潮流，把握信息脉搏，开创通信新纪元！</p>
            </div>

        </div>
    </section>
{% endblock %}