<!DOCTYPE html>
<div id="footerdiv">
    <footer class="footer span12">
        <div class="linkfriend">
            <table>
                <tbody>
                <tr>
                    <td style="padding-right:20px;">友情链接</td>
                    <td style="padding-right:20px;">
                        <a href="/">宇威软件</a></td>
                    <td style="padding-right:20px;">
                        <a href="http://www.szshengxian.com/">盛显科技</a></td>
                    <td style="padding-right:20px;">
                        <a href="http://www.atcom.com.cn/">ATCOM</a></td>
                    <td style="padding-right:20px;"><a href="http://www.zycoo.com.cn">成都智科</a></td>
                    <td style="padding-right:20px;"><a href="/page/project">项目链接</a></td></tr>
                </tbody></table></div><div class="contactdiv">
        <div class="span2"></div>
        <div class="span5 inline">
            <address>
                <h4>联系信息</h4>
                <a href="mailto:gotham@uwetech.com">gotham@uwetech.com</a>
            </address>
        </div>
        <div class="span5">
            <h4>订阅产品信息</h4>
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="input-append input-prepend span12">
                        <span class="add-on">@</span>
                        <input class="span4" type="text" size="16">
                        <button class="btn" type="button">订阅</button>
                    </div>
                </div>
            </form>
        </div>
    </div><div class="bottom2">
        <div class="span12" style="margin-left: auto;margin-rigtht: auto;text-align:center;">
            <p>© 宇威软件 2010-2014 all rights reserved - <a href="#">Terms of Service</a><noscript>&lt;a href="http://www.linezing.com"&gt;&lt;img src="http://img.tongji.linezing.com/2946331/tongji.gif"/&gt;&lt;/a&gt;</noscript>
            </p>
        </div></div></footer><!-- begin olark code --><noscript>&lt;a href="https://www.olark.com/site/4567-871-10-3894/contact" title="Contact us" target="_blank"&gt;Questions? Feedback?&lt;/a&gt; powered by &lt;a href="http://www.olark.com?welcome" title="Olark live chat software"&gt;Olark live chat software&lt;/a&gt;</noscript><!-- end olark code --></div>