<!DOCTYPE html>
<div id="headerdiv">
    <header id="top">
        <div class="headercontainer">
            <article id="naver">
                <a><img alt="Logo" src="/media/img/logo.png">
                </a>
                   <ul id="nav" class="nav nav-pills">
                    <li id="home">	<a href="/">首 页</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">关于我们<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a href="/page/about/company">企业介绍</a></li>
                            <li><a href="/page/about/company2">企业文化</a></li>
                            <li><a href="/page/about/contact">联系我们</a></li>
                    </ul>
                    </li>
                    <li id="products"><a href="/page/products">产品信息</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">解决方案<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/jiejue/dianzishangwu">电子商务解决方案</a></li>
                            <li id="zhenfujiejue"><a href="/page/jiejue/zhenfurexian">政府热线解决方案</a></li>
                            <li id="yiyuan"><a href="/page/jiejue/yiyuan">医院解决方案</a></li>
                            <li id="zilaishui"><a href="/page/jiejue/zilaishui">自来水公司决方案</a></li>
                            <li id="jiazheng"><a href="/page/jiejue/jiazheng">家政服务解决方案</a></li>
                            <li id="jiaoyuzixun"><a href="/page/jiejue/jiaoyuzixun">教育咨询解决方案</a></li>
                            <li id="dianhuayingxiao"><a href="/page/jiejue/dianhuayingxiao">电话营销解决方案</a></li>

                        </ul></li>
                    <li id="services"><a href="/page/services">支持与服务</a></li>
                    <li id="support"><a href="/page/support">成功案例</a></li>
                </ul>
            </article>
        </div>
    </header>
</div>