<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#zilaishui').addClass("active");
    </script>
    <section class="row productsBox">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">解决方案</a>
            </li>
        </ul>
        <!-- this is where the Media lives, photo & video nd such -->
        <div class=span12>
            <header class="page-header">
                <h1 class="pager">
                    电话营销解决方案
                </h1>
            </header>

         <ul>
           <h2> 行业概况分析</h2>

            电话营销作为一种有效的业务推广模式，越来越受到众多企业的重视和运用。新兴的营销渠道正在不断革新传统的企业销售模式，企业电销成了热门话题。业内专家分析，占据渠道优势和优质客户资源，是各个行业同业竞争制胜的有利武器。而电话营销具有成本低、效率高等特性。较之传统的营销的区域限制，企业通过集中或者分布的呼叫中心电话营销，可以向不同地区，甚至不同国家的客户提供产品的销售和服务，地域覆盖面广泛，服务人群可迅速触及社会各阶层。在海外，企业电话销售早在上世纪70年代末就开始尝试开展电话营销业务，到目前这一营销渠道已经成为不少国际知名企业的主要销售渠道之一。

            <h3>行业建设分析  </h3>

           <li> 网点分布灵活扩展
           </li>
            有些企业是全国性的公司，分公司遍布全国，按照规划将全国划分为几大区域开展电话营销，电话营销分中心将随业务发展逐步扩展灵活部署，全国统一技术平台。

                <li> 灵动的座席管理
            </li>
            根据企业电销的特点，座席软电话要简洁实用操作简单。功能上要根据电销业务的开展需要灵活配置，并且电销座席软电话需要提供开放的灵活的二次开发接口，能够快速开发出座席自我管理功能。　　

                <li> 高质量的监管体系
            </li>
            根据电话营销中心的管理需要，应配备电脑系统、通话系统、录音系统、客户信息管理系统、实时监听、实时统计系统、报表系统等高质量的运营监管体系。

            <h3> 行业的使用效果  </h3>
            电销系统使得企业在市场宣传和渠道推广的基础上，将传统销售与电子商务、电话营销结合形成自动化销售链条；企业利用电销系统的数据管理模块挖掘潜在客户的购买需求和已成交客户的再次购买潜力，形成服务营销网络；同时电销系统可以与网站、邮件、短信等销售渠道整合，从而形成一体化客户营销和主动服务平台。

                <li> 1.      提高服务质量：通过电脑自动服务与人工服务相结合的方式，为用户提供标准、统一、全面的服务，并将所有客户自动建立完善档案，自动提醒等功能，提高了企业的客户服务质量，提升了企业形象。
            </li>
                <li> 2.      提高工作效率：采用系统自动呼叫分配的多种策略，改变以往人工直接呼叫用户的弊端，并通过记录管理人员呼叫过程，加强企业管理，提高工作效率。
            </li>
                <li> 3.      提高销售效率：通过系统的预拨号的功能，自动识别出空号、错号、忙音和关机等状况，电话接通后方转人工坐席，提高销售效率达30%-50%。
            </li>
                <li>  4.      提高资源利用率：系统采用多种方式的策略加以资源优化，通过整合多个服务平台，更加高效合理的电话资源以及公司人员，快速、准确、高效地实现信息的保存、传递、集成和共享，这样不仅可更好地服务客户，还可以实现人力调配的优化，解放更多的人力。
            </li>
                <li> 5.      节省人力成本：通过IVR的使用，将大量的重复性和标准化的服务尽量采用自动语音进行处理，例如查询、咨询等工作，节省30%-80%的人力成本。
            </li>
                <li>  6.      提供决策依据：通过系统提供的日/周/月/年等统计分析报表数据，为企业领导的产品、业务调整等决策提供强有力的帮助。
            </li>
                <li> 7.      避免服务纠纷：所有的服务通话皆被录音，可以再与客户出现纠纷的时候提供有力的法律依据，也可以用于公司对员工服务态度的考核
                </li>

            <h2> 电话营销外呼适用场景</h2>

             <li> 电话营销的外呼场景，基于预览外呼和预测外呼平台，一般说来分为：
             </li>
             <li> 潜在客户外呼：针对潜在客户的市场调查、公司宣传、服务推介等；
             </li>
             <li>目标客户外呼：针对目标客户的业务推广、产品销售、活动邀请等；
             </li>
             <li>意向客户外呼：针对意向客户的身份确认、电话订购、送货通知等；
             </li>
             <li>成交客户外呼：针对老客户的交叉销售、增值服务、会员服务等；
             </li>
             <li>主动服务外呼：客户关怀、费用催缴、通知公告等主动服务活动；
             </li>

             <h2>电销外呼系统主要功能</h2>
                <li>1.      号码管理
                </li>
                号码管理功能包含号码导入、整理、查询、删除等功能，是对呼出目标资料库的管理。从网络上收集或者从其他渠道取得目标客户的资料后，需要经过一定的整理，剔除明显不合适的号码。比如：号码长度不够，多位连号等特殊号码。经过分类整理的号码，使用号码管理工具导入到系统资料库中，作为后备号码使用。号码管理功能提供查询统计功能，可针对号码库内的客户资料进行分类统计和查询。

                <li>2.      策略管理
            </li>
                外呼策略是对营销行为的管理策略，目的是在合适的时候联系合适的客户。每个呼出营销项目都有其特定的目标人群，对应着客户资料库中的一部分客户号码。分析客户的行为，分析外呼的目的，在合适的时间、当客户在合适的地点时与之联系，是最有效，最好的营销方式。通过呼叫中心系统中策略管理工具，可建立、查看、编辑、删除外呼策略，为每个策略设定呼出开始时间、结束时间、失败后追呼次数、座席技能值等。

                <li>3.      任务管理
            </li>
                外呼任务是设定和选择外呼目标号码的行为，为外呼工作从号码库中选择合适的目标号码。新建外呼任务是根据客户资料的属性设定筛选条件的过程。通过设定筛选条件，选择出要外呼的目标客户号码。外呼任务建立后，在座席登录后，可设定运行状态（开始、暂停、结束）。外呼任务建立后，须设定工作模式，以决定预览式外呼还是预测式外呼。可通过任务查看功能，看该任务项下有多少座席可用，已经外呼了多少号码，还有多少号码等待呼叫。通过任务查看功能，还可获得该任务项下，外呼的接通率、拒绝率、客户资料的无效率（即：空号、欠费、停机等所占比例）、营销失败原因的统计和分析。

                <li>4.      完善的客户关系管理
            </li>
                支持 Excel 表格形式的客户资料导入，自定义客户分类，客户资料分配，客户资料转移，自动记录员工与客户的沟通记录（通话时间、通话时长、电话录音、通话备注等），业务代表可以很方便的添加客户回访安排

                管理人员可以查看下属的客户列表及沟通记录，随时掌握团队的工作情况。

                <li> 5.      实现点击外呼功能
            </li>
                坐席在管理系统中点击客户的电话号码，就可以直接呼叫该用户，使坐席工作效率更高，同时又避免了拨错号码的尴尬。本系统可以在坐席拨出电话的同时在其电脑屏幕上显示客户资料。

                <li>6.      电话录音
            </li>
                本系统对呼入电话和呼出电话提供自动录音功能，还可以对电话录音进行备份、下载、回放等，该功能有效帮助销售人员分析自己与客户的对话情况，及时发现问题和寻求团队解决，快速提升自己的沟通能力。

                <li>7.      来电弹屏
            </li>
                当客户打入电话时，系统会根据来电的号码，在客户资料数据库中进行查询。一旦在资料库中发现该来电号码，就会在座席的电脑屏幕上弹出该号码所关联客户的详细资料以及历史沟通记录。用户还可以在接听过程中，实时更新该客户的有关资料和增加沟通记录。

                <li> 8.      用户信息支持 Excel 表格形式批量导入
            </li>
                通过客户导入功能，管理员可以轻松而快速的导入大量的客户信息，对于外呼用户信息可以分配给不同的座席，由指定的座席进行外呼。

                <li> 9.      IVR 语音导航，自动语音应答，客户留言
            </li>
                可以设置客户来电响铃多长时间后语音应答，客户自动留言，对留言录音随时查询。

                <li>10.   所有电话业务工单记录在库
            </li>
                对已签单的客户，有意向的客户等轻松地分门别类，方便以后再联系和回访。

                <li>  11.   方便的客户资料查看及管理
            </li>
                座席与客户沟通过程中，可以方便地记录客户的详细资料，客户需求和要解决的问题等等。鼠标点击即可查看客户详细资料。

                <li>12.   客户回访时间设置
            </li>
                设置对客户的回访时间，系统自动归类，方便查询。轻松快捷的操作，让业务员在繁忙中不会漏掉任何一次成功的机会。

                <li>13.   话务监听和统计分析
            </li>
                团队管理者可对下属的所过通话过程录音进行回放监听，对整个团队的话务数据进行分析统计。

                <li> 14.   坐席人员通话明细查询
            </li>
                管理员可以很方便的对座席通话记录进行查询。可以查看每个业务员通话时间、时长以及客户名称和联系方式，以及业务员在通话过程中对客户的详细备注，还可以点击播放每次的通话录音。而对于时间较早的通话明细，也提供了删除通话明细的功能。

                <li> 15.   完善的权限管理，业务轻松转移和分配
            </li>
                管理员可以将不同的业务转移或分配给不同的业务人员。比如员工离职，可以轻松的将离职员工的所有业务转移给其他业务员，或分配给不同的业务员。

                <li> 16.   统计报表，体现员工业绩
                </li>
                系统提供了详细的通话记录，可以记录每次电话的主叫号码、被叫号码、通话时间、通话时长、电话状态、通话录音等情况 , 从而为以后电话记录统计和各项报表的生成提供准确的数据基础。同时，系统还可以针对系统总体的每月、每日的流量、各时段负载，提供报表和统计图表。

           </ul>
        </div>
    </section>
{% endblock %}