<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#dianzishangwu').addClass("active");
    </script>
    <section class="row productsBox">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">解决方案</a>
            </li>
        </ul>
        <!-- this is where the Media lives, photo & video nd such -->
        <div class=span12>
            <header class="page-header">
                <h1 class="pager">
                    电子商务呼叫中心解决方案
                </h1>
            </header>
            <h2>电子商务定义：</h2>
            <p>
                电子商务（Electronic Commerce）的定义：电子商务是利用计算机技术、网络技术和远程通信技术，实现电子化、数字化和网络化的整个商务过程。
            </p>
            <p>
                　　联合国国际贸易程序简化工作组对电子商务的定义是：采用电子形式开展商务活动，它包括在供应商、客户、政府及其他参与方之间通过任何电子工具，如EDI、Web技术、电子邮件等共享非结构化商务信息，并管理和完成在商务活动、管理活动和消费活动中的各种交易。</p>
            　　<p>
            广义上讲，电子商务一词源自于Electronic business，是指利用简单快捷低成本的方式，在买卖双方不谋面的情况下，所进行的商务贸易活动。
            　　电子商务是指利用互联网为工具，使买卖双方不谋面地进行的各种商业和贸易活动。</p>
            <h2>呼叫中心系统在电子商务中的作用：</h2>
            <p>呼叫中心套件提供一体化解决方案，提供从售前,售中，售后，全过程一致性购物体验。</P>
            <ul>
                <li>售前：
                    通过呼叫中心系统，网页客服,电子邮件，语音通话，咨询了解产品信息。 </li>
                <li>售中：
                    通过呼叫中心系统，确认购物信息，物流配送信息，让客户有满意的购物体验。</li>
                <li>售后：
                    通过呼叫中心，关怀客户，联系客户新需求，推送新的产品信息。</li>
            </ul>
            <h2>商务呼叫中心功能介绍：</h2>
            <ul>
                <li>来电自助导航系统：
                    提供自助导航服务，可以播报公司欢迎系统，公司公告，配置公司erp系统，产品信息查询，电话订购产品。</li>
                <li>网页拨号：
                    网页拨号实现网站与呼叫中心的无缝集成，客户只要输入电话号码即可实现坐席呼叫浏览用户，为用户提供产品信息解答。</li><li>
                客户档案管理：
                在系统中保存客户档案信息，配合呼叫中心来电弹屏系统，来电即可知道客户信息，以往购物情况等信息。</li><li>
                电话回访：
                此系统主要用于客户电话回访，系统可自动进行外拨队列处理，选定客户名单系统自动进行外拨操作，如选定部分客户电话号码系统将自动、逐个、反复拨号直到拨通为止(建议使用),客服人员亦可在地址簿中选定客户双击直接拨号，省去人工拨号操作，节省大量时间从而大大提高话务员的工作效率。</li><li>
                订单录入：
                呼叫中心有个很重要的任务就是向客户销售产品，并按客户要求生成订单。座席管理系统提供订单快速录入功能，订单内容至少有订购的客户名称、订购的产品、产品类型、数量、金额和订购方式等。客户资料不仅包含客户的电话，还有客户所在城市、客户的详细地址，订购信息、产品信息以及其他的附加信息。</li><li>
                统计报表：
                对各种信息进行统计、分析，如按时间统计产品需求率；按区域统计某种型号产品投诉率；按产品统计某个部件的故障率；数据库营销按区域调查用户满意度等等。对统计结果以柱形图、盘形图的形式加以分析，为管理部门提供强有力的决策依据。此系统可按需量身定制，以适应使用者的特殊需求，功能强大</li>
            </ul>
        </div>
    </section>
{% endblock %}