<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#zilaishui').addClass("active");
    </script>
    <section class="row productsBox">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">解决方案</a>
            </li>
        </ul>
        <!-- this is where the Media lives, photo & video nd such -->
        <div class=span12>
            <header class="page-header">
                <h1 class="pager">
                    教育咨询机构解决方案
                </h1>
            </header>

            <h2>特点综述：</h2>
            学校或者社会教育机构现在仍以到校参观报名或者对面咨询为主，利用赛普的呼叫中心解决方案将帮助教育机构首先将做好学员的电话咨询工作，通过课程咨询、师资咨询、教材等详细咨询与咨询师建立信任，通过设置的一线咨询师、二线专家来吸引学员对机构的信任，通过咨询处理、知识管理、预约管理、流失管理、主动回访等多个流程环节的处理，帮助教育机构管理来访电话，到场预约以及促进销售。并通过数据导入、主动呼出、外呼营销等多样化的销售手段实现对企业数据的最有效利用。同时，还可以在完成销售业绩的期间起到服务咨询、学员投诉处理、主动通知等服务功能，以达到提高服务满意度、提升销售业绩、管理预约业务等多重功能。
            SPCC呼叫中心基于对中国教育培训行业管理的深刻理解，推出教育培训行业解决方案。教育培训机构可以通过现场活动、咨询报名、课程咨询、活动预约、预约来访、咨询回访、试课等流程，管理从潜在学员到签订合同的整个流程：以客户为中心的管理平台思想，围绕招生管理、销售管理、客户服务等管理流程，对培训机构的业务进行全方位管理；通过平台型的CRM系统架构，能够配置教育培训机构的个性化要求，在不需要二次开发的投入下，能帮助管理者快速搭建符合自身流程的CRM工具，提高业务效率，降低企业运营成本；SPCC呼叫中心为自建构架模式，完全解决了SAAS模式客户数据安全无法保障的问题，同时又能满足多地区统一业务管理的目的，是一个可根据未来发展随需应变的管理平台。
            <h2> 预期效果：</h2>

            帮助教育机构改善服务质量、树立品牌形象、降低服务成本、开辟业务渠道，利用呼叫中心拓展市场营销手段等。
            统一商机管理----教育培训区别于别的消费模式，家长或学员都会通过各方面权衡仔细斟酌后去选择一家靠谱的机构，受理商机后如何提升客户满意度、快速做出反馈、提供最便捷的服务和体验课程将会成为核心竞争力
            提升售后服务品质----教育培训市场有两大显著特征：属地化特征和口碑效应，利用呼叫中心统一规范各分支机构的服务，提升企业的形象，提高客户满意度，将助力企业做大做强.

        </div>
    </section>
{% endblock %}