<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#zilaishui').addClass("active");
    </script>
    <section class="row productsBox">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">解决方案</a>
            </li>
        </ul>
        <!-- this is where the Media lives, photo & video nd such -->
        <div class=span12>
            <header class="page-header">
                <h1 class="pager">
                    家政服务中心解决方案
                </h1>
            </header>

            <h2>行业应用背景</h2>
            打个电话，就能找到相关的家政服务，服务满不满意，有电话回访。从2009年起，用2－3年时间，国家将推动各地级以上城市建设“家政服务网络中心”，为城乡居民提供便利、安全的服务消费。

            按照《家政服务网络中心建设规范》，在地级以上城市建设“家政服务网络中心”，通过电话、网络等信息手段，无偿为市民、企业提供供需对接服务，建立健全信息咨询、供需对接、人才调配、标准制订、资质认证、服务监督等功能，成为对接供需、规范服务、保障安全的重要载体。

            依托该中心，整合各类家政服务资源，形成便利的家政服务网络；对企业资质、服务质量进行监督评价，对服务标准进行统一规范，及时淘汰不能满足居民需求的企业，形成基于行业自律的市场准入和退出机制，提高家政服务业发展水平和服务质量，保障居民便利、安全消费。
            业务功能



            <h2>  家政服务网络中心服务功能 </h2>

            <ul>
            <li>1.       家庭服务　　</li>

            家庭教师、家庭保姆、装修装饰、搬家服务、换房服务、液化气站、鲜花礼仪、清洗保洁、家庭-医院、陪护、养老托幼、各类雇工、代购代买物品、学生接送等；

                <li>2.       维修服务　　</li>

            房屋、家电、交通工具、通讯维修、供电供水供气设备、日用品等；

                <li>3.       养老服务　　</li>

            敬老、养老、托老、医护、康复；

                <li>4.       医疗服务</li>

            在线寻医、专家咨询、医药咨询、网上医院、专家在线、网上药店、医疗常识；

                <li>5.       物业管理</li>

            电子巡更、车库管理、管理费用收缴、社区给排水、区域照明、交配电等；

                <li> 6.       社区导购</li>

            商品热销、二手市场、商场一览、打折速递、市场行情、在线交易等；

                <li>7.       房屋租售　　</li>

            买房档案、卖房档案、租房查询、交易专栏等；

                <li>8.       人才招聘</li>

            招聘信息、求职信息、职业培训介绍等；

                <li>9.       法律服务　　</li>

            律师事务所介绍、专业法律咨询服务、法律常识；

                <li> 10.    生活百事</li>

            工商办证、税务管理、驾证车辆、交通信息、教育咨询、健康养生、时装潮流、装饰天地、社交礼仪、即时股评、汇率汇价、影视节目、票务信息、天气预报、婚姻服务、殡葬服务、出国须知、国家公益活动开展、政策法规的宣传与咨询等。



            <h2> 按照规范标准的服务管理功能</h2>



                <li>1.       公共服务</li>

            面向全社会吸收家政服务企业加盟，负责对加盟企业基本资质进行审查、服务标准进行规范、服务人员进行培训、服务质量进行监督评价。

                <li>2.       信息对接</li>

            接收并记录市民电话、短信、网上订单等需求信息，答复并联系加盟企业提供服务，对服务结果进行回访。

                <li>3.       运营管理</li>

            接纳加盟企业和志愿者申请，评估加盟企业和志愿者的服务数量和质量；采集服务信息；组织做好人员培训、管理讲座等相关支持工作。

                <li>4.       系统维护</li>

            负责网络中心的日常运行维护，负责中心的数据库服务器、Web服务器及邮件服务器的管理，中心网站的管理和维护，中心网站部分内容的制作。

                <li>5.       质量保障</li>

            对网络中心、加盟企业服务质量进行监督检查，处理因服务质量和价格等引起的纠纷。

        </ul>


        </div>
    </section>
{% endblock %}