<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#yiyuan').addClass("active");
    </script>
    <ul class="breadcrumb">
        <li>
            <a href="#">首页</a> <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="#">解决方案</a>
        </li>
    </ul>
    <div class=span12>
        <header class="page-header">
            <h1 class="pager">
                医院呼叫中心解决方案
            </h1>
        </header>
        <h2>面临的问题</h2>
        <ul><dl><li><dt>对患者就医、导诊处理效率低</dt>
            <dd>
                挂号、预约等待时间长，且由人工处理耗费人力。病患对问诊科室、医院特色专科不明确，甚至不知自己该挂哪一科室的号，单靠导医不能逐一解决。</dd></li>
            <li><dt>患者对医疗检验结果的获取不便</dt>
                <dd>目前患者在医院做完各种化验、检查后，各医院均由检验科打印检验报告单，在专门的报告单领取处统一存放，患者到报告单领取处领取。虽然现在已有检验报告单自助打印机，但患者仍需到医院打印领取，这给患者工作、生活的时间安排造成不便。</dd>
            </li><li><dt>患者缺少信息反馈途径</dt>
                <dd>医院没有简便的途径收集患者反馈信息，不能第一时间了解和处理患者的意见、建议，及投诉。</dd>
            </li><li><dt>医院缺少主动服务</dt>
                <dd>医院缺少对患者的主动服务，如用药提醒，对特殊人群就医或体检提醒等。</dd>
            </li><li><dt>统计报表信息的不完善</dt>
                <dd>没有完善的信息统计，不能适时准确的获知挂号、专家预约、各科室就诊等信息情况。</dd>
        </dl></ul>
        <h2>解决之道</h2>
        <blockquote>
            <p>宇威医疗呼叫中心系统将语音查询、自助服务、人工服务紧密结合，把医院管理、患者预约、供应链等资源通过网络进行整合，增强医疗机构的市场灵敏度，建立起快速反应机制，增强与患者的信息互动，实现资源的统一分配与利用。</p>
        </blockquote>
        <ul><dl><li><dt>电话挂号、询问、预约</dt>
            <dd>患者致电本系统首先进入语音查询系统，通过自助服务，患者就可以完成挂号、预约、查询、留言等服务。在需其他帮助时可以转入人工坐席，总机可以根据患者需要转入不同的分支机构或者科室，对用户的询问可以及时解答。</dd>
        </li><li><dt>诊断结果通知及其他信息推送</dt>
            <dd>本系统的接口开放可与医院信息系统（HIS）很好的集成，可通过短信、语音、传真、电子邮件等将诊断结果及其他信息推送给患者。</dd>
        </li><li><dt>用户留言及投诉处理</dt>
            <dd>通过本系统的人工服务、语音信箱、传真、电子邮件等方式，患者可将投诉或建议反馈给医疗机构服务人员。服务人员接到反馈信息后，可将电话转接给相关部门处理，有助于投诉或纠纷的圆满解决。系统平台的畅通性保证了患者投诉的及时解决，有助于提高医疗机构的服务质量与患者满意度。</dd>
        </li><li><dt>患者关怀、电话回访</dt>
            <dd>医院服务人员通过本系统的外拨功能，可以实现对患者的主动服务。对潜在病患的信息告知与跟进，老患者回访调查，等等。体现医院的人文关怀。</dd>
        </li><li><dt>产生统计报表</dt>
            <dd>本系统根据来去电情况与工单处理情况进行详细记录，通过对这些数据的分析，可获知各科室详细的服务情况，从而为医院服务改善提供依据。</dd>
        </li></dl></ul>
        <h2>赢取声誉、获得收益</h2>
        <ul><dl><li><dt>改善医院服务质量</dt>
            <dd>呼叫中心已经成为公认的改善服务的措施，对于医院也不例外。
                用户可以随时通过电话跟医院进行沟通，大大拉近了医院跟用户的距离；
                本系统提供完善的用户信息记录，只要输入用户身份识别号（ID号）就可以将用户的所有记录调出，从而为用户提供最精确的诊断；
            </dd></li><li>
            <dt>创造和提升医院的品牌优势</dt>
            <dd>本系统的建设，为医院提供了一个电子化（电话、Internet等）的服务窗口，从而有效地创造医院的品牌效应。
                另一方面，由于政策方面的限制，医院不可能通过传统的大众媒体进行宣传。而呼叫中心的建设，为医院的宣传开辟了一个全新的大众媒体，即电话和Internet的媒体。由于电话和Internet的延伸是无限的，它比传统媒体拥有更广泛的消费群体，全世界的用户不论何时、何地，只要通过无处不在的电话或Internet，就可以享受到医院的服务。可见，本系统的建设，对于医院的形象宣传和品牌的树立，将会起到巨大的推动作用。
            </dd></li><li>
            <dt>优化医院的服务流程</dt>
            <dd>本系统的建立，可以使各个部门、各个人员的职责划分更加明确，不必要、不合理的岗位可以精简，人员的工作量可以通过各种统计数字得到量化。而对于用户来说，可以更加明确地知道什么问题应该找谁解决，减少中间环节。这就可以大大优化医院的服务流程。
            </dd></li><li>
            <dt>降低医院的服务成本</dt>
            <dd>本系统电话挂号功能的实现，以及通过电子派单功能实现电子挂号单的自动分配，既方便用户，又可以减少工作人员的人工干预，从而节约成本。
                医院可以通过本系统对VIP用户提供特别服务，包括上门医护等，可以为医院发展更多更有价值的用户。
            </dd></li><li>
            <dt>提升医疗信息化的水平</dt>
            <dd>医疗信息化往往是一个长期的、循序渐进的过程。而本系统的建立可以大大加快这一进程。将医院的综合势力提升到一个新的高度。</dd></li></dl></ul>
    </div>
{% endblock %}