<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#zhenfujiejue').addClass("active");
    </script>
    <section class="row productsBox">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">解决方案</a>
            </li>
        </ul>
        <!-- this is where the Media lives, photo & video nd such -->
        <div class=span12>
            <header class="page-header">
                <h1 class="pager">
                    政府热线解决方案
                </h1>
            </header>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp随着信息和网络技术的日益发展，信息技术正在时刻改变着我们的生活和工作方式。这种改变使政府的管理和服务面临着新的挑战。虽然不少政府部门利用信息、网络技术建立了各种管理信息系统和办公自动化系统，但由于缺乏有效的整合机制，信息利用率不高，共享程度不够，随着政府职能的转变和市场经济的发展，各级政府部门面向社会公众服务的意识不断增强，遇到的问题和困难也越来越多，在这种背景下，我们可以利用呼叫中心强大的语音及媒体功能，有效了解决了重复性政务服务的问题，避免了大量人力物力资源的浪费。</p>

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp基于宇威呼叫中心套件的政府呼叫中心系统将语音自助服务、人工服务、录音监听等紧密结合，充分体现了“方便百姓，服务社会”的政府及公用事业类呼叫中心的特点。让百姓享受从咨询、业务申请、业务受理、进展查询等“一站式”服务的同时，也大大提升了政府及公用事业部门的办公效率和服务质量。</p>
            <h2>系统主要功能</h2>
            <ul>
                <li><h3>话务平台功能</h3>
                    <dl><dt>自助语音服务</dt>
                        <dd><ul >
                            <li>便民服务查询</li>
                            <li>政府公益事业查询</li>
                            <li>当前热点民生问题查询</li>
                            <li>政务服务业务种类介绍</li>
                            <li>自动传真收发服务</li></ul></dd>
                        <dt>主动外拨通知</dt>
                        <dd><ul>
                            <li>当前政务最新动态</li>
                            <li>当前民生热点信息公布</li>
                            <li>社区或本地政府大型活动通知</li>
                            <li>客户满意度调查</li>
                            <li>客户回访调查，通过回访提升服务品质</li>
                        </ul></dd>
                        <dt>座席功能</dt>
                        <dd><ul>
                            <li>登录/登出</li><li>示忙/示闲</li><li>挂起/恢复</li><li>转移</li><li>会议</li>
                        </ul>
                        </dd>
                    </dl>
                </li>
                <li><h3>政务业务功能</h3>
                    <ul>
                        <li>查询/咨询/建议</li>
                        <li>政务业务受理</li>
                        <li>知识库</li>
                        <li>统计分析</li>
                        <li>系统管理</li>
                    </ul>
                </li>
                <li><h3>系统特色</h3>
                    <ul>
                        <li>开发和灵活性：实现语音增值业务的开放接口，动态加载新业务</li>
                        <li>可伸缩性：灵活扩容和升级，满足业务扩容时平台的无缝升级</li>
                        <li>提高政务内部管理效率及员工满意度</li>
                        <li>7*24不间断小时服务，保证客户服务的连续性</li>
                        <li>合理安排人员配备，最大可能性的减少人力成本</li>
                        <li>提高客服人员工作效率，提高服务质量</li>
                    </ul>
                </li>
                <li><h3>系统优势</h3>
                    <ul>
                        <li>纯IP呼叫中心,无需任何硬件设备</li>
                        <li>支持VXML 2.0国际标准</li>
                        <li>系统采用模块化设计，具有良好的可扩展性和升级性。</li>
                        <li>同时支持Windows/Linux系统</li>
                        <li>支持双机热备</li>
                        <li>管理维护简单</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}