<!DOCTYPE html>
{% extends "page.html" %}
{% block content %}
    <script>
        $('#zilaishui').addClass("active");
    </script>
    <section class="row productsBox">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <a href="#">解决方案</a>
            </li>
        </ul>
        <!-- this is where the Media lives, photo & video nd such -->
        <div class=span12>
            <header class="page-header">
                <h1 class="pager">
                    自来水公司解决方案
                </h1>
            </header>

            <h2>行业应用背景</h2>

            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp随着计算机技术、通信技术、网络技术以及CTI技术的飞速发展，
                自来水公司事业的发展也拥有了广阔的空间，各地的自来水公司纷纷建立了客户服务中心，不断完善的自来水公司
                新业务为用户提供了更丰富、全面以至更优质的服务，如“24小时值班”、水费查询及催缴、语音留言服务、
                快速自来水公司调度抢修及停水信息的查询及通知等等，这些服务项目，不仅使自来水公司的窗口形象更佳，
                而且使自来水公司的服务更上一个新台阶，是自来水公司为民服务的新窗口。
             </p>

            <p>自来水客户呼叫中心作为客户服务中心的一个职能部门，承担着城区供水用户咨询解答、管网维修抢修的
                组织、指挥、协调等工作。通过拨打自来水客服电话，提供三方面供水服务。</P>

            <H3>第一，受理全市的供水报修业务，负责协调统一调度，指挥全市的供水管网抢修工作。</H3>
            客户服务中心是连接供水抢修各级主管领导，遍布全市的抢修单位的枢纽，是各类信息汇集的交点，
            通过完善供水应急抢修机制，对供水管网抢修进行全过程管理、时限控制和动态追踪，成为全面协调指挥供水管网
            抢修的中心平台。

            <H3>第二，咨询水质、水压、水价、收费、新安工程等相关信息，此外还新增加了五项便民服务举措：</H3>
            <oL>
            <li> 1)       水费查询。城区用户拨打自来水后，只需提供水费缴费单左上角9位水表永久编号，就可以查询过去一年中任何一个月的水费金额。
            </li>
            <li> 2)       预约维修服务。在自来水集团负责维修的范围内，用户如遇到供水维修问题，可以提前拨打电话自来水预约时间进行维修服务。
            </li>
                <li> 3)       电话报用水表示数。如居民错过了查表时间或是遇特殊情况，城区用户可根据上月收到水费缴费单的时间，通过拨打自来水，将自家水表的示数和水费单左上角9位水表永久编号告知客服工作人员即可。
                </li>
                <li>  4)       新安工程进度信息查询。用户拨打自来水后，提供所报装自来水工程的编号，就可以查询到该工程目前所处于的阶段，例如方案审批阶段、工程设计阶段、工程施工阶段等。
                </li>
                <li>  5)       用户回访。对于自来水集团曾提供的供水服务进行客户电话回访，征求客户意见，监督督促供水服务质量。
                </li>
            </oL>
            <H3>第三，对全市供水服务进行监督。 </H3>
            广大用户可通过自来水客户服务中心，对供水服务提出各类意见建议，
            接受用户的投诉举报，客户服务中心将协调自来水集团各有关单位、部门及时给予解决或答复。
            此外，客户服务中心还将对供水服务、供水管网维修、新安工程质量进行督查和回访。

            <H2>呼叫中心系统主要功能  </H2>
            <ul>
                <li>1)       自动对欠费用户进行水费催缴、增值业务收费等用户实现有效监控及跟踪，实现企业利润最大化；
                </li>
                <li>2)       来电可通过验证水号或会员号等手段，加强对服务对象的有效过滤及监控；
                </li>
                <li> 3)       来电自动弹出用户详细信息及历史业务记录，第一时间了解用户情况及服务历史；
                </li>
                <li> 4)       实现来电咨询、投诉、维修、派工、调查回访登记、统计分析管理；
                </li>
                <li>5)       通话全程自动录音，实时监听通话、查询录音等服务质量有效监控管理；
                </li>
                <li>6)       来电可根据语音引导及流程设置，将不同的服务转接到对应的部门或受理人员；
                </li>
                <li>7)       详尽的话务统计分析、业务分类统计分析、人员考核、支持决策管理；
                </li>
                <li> 8)       提供自动听取录音信息、索取传真文件、发送或接收传真、语音留言等服务；
                </li>
                <li>9)       全天候24小时接受用户服务，支持上下班、休息、节假日等作息时间管理，在工作时间或休息时间播放不同的欢迎引导词及提供不同的服务；
                </li>
             <ul>


                 <li>A.       来电弹出及业务受理</li>

                 <p>当用户来电时自动弹出用户的相关信息，如用户的姓名、水号、地址、联系电话、是否欠费、购买及使用的产品、产品销售记录、以及以往的维修、安装、培训、咨询、投诉等记录信息。以及来电日期、时间、受理人等填入系统登记窗口；使话务员一目了然，第一时间了解来电的相关信息。如果没有匹配来电号码的信息，则可通过企业名称、水号、电话号码等条件来检索出用户信息。
                    </p>
                 <li>B.       用户管理</li>

            对用户基本信息姓名、联系电话、地址、水号、证件号码等可进行添加，修改等操作，可以按照用户姓名、水号、证件号、企业名称等查询，让业务人员在第一时间能找到想要的用户信息。

                 <li>C.       水费自动查询</li>

            用户根据语音提示进入“水费查询”流程，输入“结算号码”，认证通过后再输入要求查询的月份，系统会自动查询数据库，自动语音播报查询结果。自动语音服务也可以节省很多人力资源，方便、快捷、准确、高效。

                 <li> D.       用水量查询</li>

            用户根据语音提示进入“水量查询”流程，输入“结算号码”，认证通过后再输入要求查询的月份，系统会自动查询数据库，自动语音播报查询结果。

                 <li> E.       余存水费余额查询</li>

            用户根据语音提示进入“水费余额查询”流程，输入“结算号码”，认证通过后再输入要求查询的月份，系统会自动查询数据库，自动语音播报查询结果。

                 <li> F.        自动抄表</li>

            用户根据语音提示进入“自动抄表”流程，输入“结算号码”，认证通过后再输入要求查询月份，输入“抄表读数”，系统会自动保存相关信息，自动语音播报恭喜您抄表成功。

                 <li> G.       调查回访</li>

            服务跟踪：维护、咨询、培训、投诉等都需要进行电话跟踪以及服务质量回访。

            问卷调查：支持问卷定制、任务分配、抽样客户问卷调查、结果查询、调查结果统计等，完善的客户回访和调查系统。特别适用于满意度调查、市场调研等类应用。

                 <li> H.       水费自动催缴</li>

            在数据库里查询欠费用户，系统会提取所有欠费用户电话，然后自动外拨每个用户电话，接通以后自动播放催缴通知及最后交费日期，也可以通过短信的形式发送催缴通知。

                 <li>  I.         公众咨询</li>

            用户可以电话咨询相关业务，也可以通过语音来听取业务介绍、最近优惠情况或最新政策情况，还可以通过传真来索取相关信息。

                 <li>J.        统计分析</li>

            对已经欠费用户、付费用户进行统计分析，也可以生成日报表、月报表，财务结算情况等。并可以导出打印或生成图表的形式展现，一目了然。

                 <li> K.       投诉及建议</li>

            投诉处理主要功能是：投诉受理、分发、处理、批示、跟踪、催办、回复，以及有关统计分析。

                 <li> L.        通话全程录音</li>

            通话实现全程自动录音，可按通话人员、通道号、日期、时间、电话号码、通话长度等条件进行快速查询、播放；授权人员可实现实时监听、录音、备注、删除、备份、转存等操作；系统支持用户留言，当用户需要留言时，自动启动留言信箱。

                 <li> M.     派工与跟踪监控管理</li>

            根据送票需求，录入该客户的联系地址、电话，将派工任务指派给工作人员，同时生成及打印派工单。通过派工管理可对派工的处理状态进行监控，如是否已经派工、是否已经上门、是否已经反馈服务结果信息等等，同时可实时了解上门人员是否已经出发、服务的单位、目的地、是否返回等信息，实现对外出人员的有效监控及调度。

                 <li> N.      服务满意度调查</li>

            用户与服务代表通话后，系统自动提示按键对该服务质量给出评价，如：满意、不满意等，评价结果记录入数据库，可进行服务质量考核、统计分析等。另外系统可实现自动抽取回访的用户名单进行自动呼出调查。

                 <li>O.      手机短信及邮件服务</li>

            手机短信及邮件可作为用户关怀的辅助手段，如维修、安装、投诉后的回访，节假日、生日祝福的关怀等，用户提醒，如缴费通知、业务培训、公告等。可直接选取用户名单自动匹配手机号码或电子邮件进行群发。

                 <li>P.       知识库管理及信息公告</li>

            知识库是一些常见的用户知识、产品知识、服务知识、技术支持、公告信息的汇总。它将统一企业对外的服务口径，让用户问题的解答趋于标准化；

        </div>
    </section>
{% endblock %}